{% extends 'partials/layout_basic.twig' %}
{% block content %}
<div class="header">
  <a href="">
  <!--  <img src="{{'img/logo.svg'|public}}" alt="{{company_name}}"> -->
    {{company_name |upper}}
  </a>
</div>
<div class="body">
</div>
<div class="footer">
  <div class="row">
    <div class="col-md-6">
          <a href="#" target="_blank">
        ¿necesitas ayuda bitch?
          </a>
    </div>
  </div>
</div>
{% endblock %}
