{% extends 'partials/layout.twig' %}
{% block conten %}
    {#Hello World!<br>#}
    {#<a class="btn btn-success" href="{{ 'help'|url }}">Help</a>#}
    <div class="jumbotron">
        <h2>Home</h2>
        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos esse magni maiores reprehenderit sapiente tempora tempore! Asperiores beatae blanditiis commodi, consectetur cumque error facilis fugiat laboriosam magnam quae soluta velit?</p>#}
        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias asperiores beatae culpa dicta dolorum est, facilis impedit ipsum iure modi, molestiae necessitatibus neque odit quos ratione sit? Ducimus, officiis!</p>#}
        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi ea esse fugiat ipsum iusto labore maxime perspiciatis possimus qui quibusdam, quidem reiciendis sit temporibus voluptatem! Ab deserunt nobis reiciendis?</p>#}
        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos esse magni maiores reprehenderit sapiente tempora tempore! Asperiores beatae blanditiis commodi, consectetur cumque error facilis fugiat laboriosam magnam quae soluta velit?</p>#}
        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias asperiores beatae culpa dicta dolorum est, facilis impedit ipsum iure modi, molestiae necessitatibus neque odit quos ratione sit? Ducimus, officiis!</p>#}
        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur commodi ea esse fugiat ipsum iusto labore maxime perspiciatis possimus qui quibusdam, quidem reiciendis sit temporibus voluptatem! Ab deserunt nobis reiciendis?</p>#}

    </div>
{% endblock %}