{% extends 'partials/layout.twig' %}
{% block conten %}
    <div class="page-header">
        <h4>Ficha de Actualizacion de Permiso</h4>
    </div>
    <form action="{{ 'mantenimiento/permisos/actualizarp'|url }}" method="post">
        <input type="hidden" value="{{ model.id }}" name="id">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nombre</label>
                    <input value="{{ model.nombre }}" type="text" name="nombre" class="form-control" placeholder="Ingrese su nombre">
                    <label data-key="nombre" class="form-validation-failed requireed"></label>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="text-right">
                <a href="{{ 'mantenimiento/permisos/'|url }}" class="btn btn-default">
                    Cancelar
                </a>
                <button data-ajax="true" class="btn btn-primary" type="submit">
                    Guardar
                </button>
            </div>
        </div>

    </form>
{% endblock %}
